# This file collects all required third-party applications that are needed
# to run this project. You can install them all by using pip:
#
#     pip install -r requirements.txt
#
gunicorn
requests
werkzeug